#notificationIconsBar{
    background:none;
    margin-bottom: 3px;
}
#networkProgressBarLabel{
    color: rgb(20,20,20);
   /* background-color:cyan;*/
}
#statusProgressBar{
    background-color: rgb(224,224,224);
    height: 33px; 
}
#mainWindow{
    border-image: url(:/images/bkg) 0 0 0 0;
    background-color: rgb(250,250,250);
}
#toolBarHeader{
    background: none;
    margin-left: -10px;
    margin-top:-10px;
    border-image: url(:/images/header); 
}
/*Tab Buttons in main window menu*/
/*background of tab menu list (overview, send, receive, etc).*/
QToolBar { 
    padding: 0px;
    margin: 0px;
    background: rgb(252, 252, 252);
    outline: 6px solid qlineargradient(x1:0,y1:0,x2:1,y2:0, stop: 0 rgba(50,50,50,0.85), stop: 1 rgba(50,50,50,0,0));
   /* background-color: lightgrey;*/
}
QToolButton {
    background: none;
    border: none;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 6px;
    margin-top: 9px;
    margin-bottom: 9px;
}

QToolButton:checked {
    color: rgb(134, 62, 101);
    border: none;
    border-left-color: rgb(245,138,16);
    border-left-style: solid;
    border-left-width: 5px;
}
/*border left top */

/* ComboBox */
QComboBox {
    color: rgb(209, 38, 71); /*selected item text color*/
}
QComboBox QAbstractItemView::item {/*hover menu list options of combobox*/
    color: rgb(20, 20, 20);
    selection-background-color: rgb(209, 38, 71);
}

/* Buttons */
QPushButton {
    background: rgb(252,251,252);
    border: 1px solid rgb(222,150,180);
    color: rgb(93, 89, 91);
    border-radius: 7px;
    height: 30px;
    width: 150px;
} 
QPushButton:hover, QPushButton:focus {
    background: rgb(252,251,252);
    border: 2px solid rgb(221, 111, 157);
    color: rgb(20, 20, 20);
} 
QCheckBox {
    color: rgb(120, 127, 139);
}
QRadioButton {
    color: rgb(120, 127, 139);
}


/*Text controls (Input and outputs)*/
QLineEdit {
    background: rgb(212, 218, 213);
    color: rgb(20, 20, 20);
    border-color: rgb(61, 61, 61);
} /*label*/
QTextEdit {
    background: rgb(212, 218, 213);
    color: rgb(20, 20, 20);
} /*textbox*/
QPlainTextEdit {
    background: rgb(212, 218, 213);
    color: rgb(20, 20, 20);
} /*textarea*/
QDoubleSpinBox {
    background: rgb(212, 218, 213);
    color: rgb(20, 20, 20);
    border-color: rgb(61, 61, 61);
} /*textbox with more-less buttons*/

/* Dock App Icon Menu */

QMenuBar {
    background: rgb(255, 255, 255);
    color: rgb(20, 20, 20);
}
QMenu {
    background: rgb(255, 0, 0);
    color: rgb(222, 222, 222);
}

QMenu::item:selected {
    background-color: rgb(47, 150, 214);
}

QLabel {
    color: rgb(120, 127, 139);
}

QScrollBar {
    color: rgb(255, 255, 255);
}


/* Header tab type menus (inside popup dialogs) */

QTabBar::tab {
    color: rgb(120, 127, 139);
    border: 1px solid rgb(20, 20, 20);
    border-bottom: none;
    padding: 5px;
} /*changed*/
QTabBar::tab:selected {
    background: rgb(255, 255, 255);
} /*changed*/

QTabBar::tab:selected {
    background: rgb(41, 133, 255);
    margin-top: 2px;
    color: rgb(255,255,255);
}

QTabWidget::pane {
    border: 1px solid rgb(20, 20, 20);
} /*the frarme of the view where the new page will be loaded*/

/*Loading blockchain network bottom progress bar*/

QProgressBar {
    border: 2px solid white;
    background-color: white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 18px ;

}
QProgressBar::chunk {
    background-color:rgb(199,9,89);
    border-radius: 4px;
}
/* NO idea yet */
QTreeView::item {
    background: rgb(233, 0, 233);
    color: rgb(20, 20, 20);
} /*changed*/

QTreeView::item:selected {
    background-color: rgb(48, 140, 198);
}

/* Tableview: */
QTableView {
    background: rgb(66, 71, 78);
    color: rgb(212, 213, 213);
}

QHeaderView::section {
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
} /*Tableview headers*/

